
#
# jiri kvita
# 20.1.2010
#	

# general parameters:
general.Purity:		0.2
general.MCStatSF:	100
general.nEvts:		500
general.SigColor:	2
general.BkgColor:	4
general.SigLine:	1
general.BkgLine:	2
general.DataColor:	1
general.SumColor:	920
general.HistoLineWidth:	2
general.DataMark:	20
general.DataMarkSize:	1.

############################################

# first parameter MUST be overall function normalisation factor
# so that we can turn it into a probability distribution function!

# default delimiter is space
signal.maxnpars:	4
signal.FitName:	linear1 linear2 gaussian polynomial
signal.rangeDown:	0. -1. -10. 5.
signal.rangeUp:	1. 1. 10. 20.
# here the delimiter will be ';':
signal.FitFormula:	[0]*(1.+[1]*x);
+signal.FitFormula:	[0]*(1.+[1]*x);
+signal.FitFormula:	[0]*exp(-(x-[1])^2/(2*[2]^2));
+signal.FitFormula:	[0]*(1.+[1]*x+[2]*x^2+[3]*x^3);
signal.nFitPars:	2 2 3 4
signal.FitPars0:	100. 100. 100. 100. 
signal.FitPars1:	0.2 -0.25. 4. 0.2
signal.FitPars2:	0. 0. 4. -0.01 
signal.FitPars3:	0. 0. 0. 0.1

############################################
# default delimiter is space
background.maxnpars:	4
background.FitName:	linear1 linear2 gaussian polynomial
background.rangeDown:	0. -1. -10. 5.
background.rangeUp:	1. 1. 10. 20.
# here the delimiter will be ';':
background.FitFormula:	[0]*(1.+[1]*x);
+background.FitFormula:	[0]*(1.+[1]*x);
+background.FitFormula:	[0]*exp(-(x-[1])^2/(2*[2]^2));
+background.FitFormula:	[0]*(1.+[1]*x+[2]*x^2+[3]*x^3);
background.nFitPars:	2 2 3 4
background.FitPars0:   100. 100. 100. 100. 
background.FitPars1:	-0.1 0.15 -4. 0.8
background.FitPars2:   0. 0. 4. 0.05 
background.FitPars3:   0. 0. 0. -0.001

############################################
############################################
############################################
